


input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
}






.letter_links{
  text-decoration: none;
  color: grey;
  font-size: small;

}


.card_container{
  width: 50%;
  border: 1px solid black;
}

/* column1*/
.container_section_2{
   display: flex;
   flex-direction: row;
   width: 100%;
   margin: 0;
   flex-wrap: wrap;
}
.column1{
    width: 60%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-bottom: none;
    border-top: none;
    flex-wrap: wrap;
}
.card_column1{
    display: flex;
    flex-wrap: wrap;
}

/* column2 */

.column2{
    width: 40%;
    border-width: 1px;
    border-style: none;
    border-color: black;
    flex-wrap: wrap;
}

.image_profile{
    height: 200px;
    width: 330px;
    display: flex;
    align-items: center;
    margin-left: 20%;
    border: 1px solid;
    margin-top: 30px;
}

  
  .grid_container{
    width: 60%;
    margin:auto;
    display: grid;
    grid-template-columns: auto auto;
      grid-gap: 0px;
      background-color: transparent;
      margin-top: 20px; 
  }

  .collage_column2{
    height: 110px;
    width: 150px;
    border: none;
  }
  .icons_column2{
    height: 30px;

}

.grid_container {
 
   
  & a:hover {
   text-decoration: none;

    & div {
      display: block;
      color:white;
      width: 150px;
      text-align: center;
      height: 110px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 15px;
    
  
 
    }   

    & img{
      z-index: -1;
      position: absolute;
      filter: brightness(50%);
    }

  }

  & a {
     & div {
      display: none;
    }   
    
  }
}


/* message section*/
.message_section {
  background: color(white);
  color: white;
  height: 800px;
  width: 100%;
  margin: auto;
}

.message_icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: auto;
  margin-top: 50px;
}

/* footer*/
.footer {
 background-color:lightgray;
  color: black;
  height: 80px;
  width: 100%;
  margin: auto;
}